a{
	text-decoration:none;

}
body,li,ul,p,pre,ol,form,input,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
	list-style:none;
	 font-family: "microsoft yahei";
}
*{
  font-family: "微软雅黑","宋体","microsoft yahei";


}
